body {
    font-family:Georgia;
    background-image: url(img.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    
    background:transparent;
    color: white0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 29px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 600px;
}

h1 {
    margin-bottom: 20px;
}

select, button {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    width: 100%;
}
